PUBLIC_URL=
BOT_DATA_DIR=
BOT_TIMEZONE=
ATENDENTE_WHATSAPP=
WHATSAPP_PROVIDER=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_WABA_ID=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_BUSINESS_NUMBER=
META_APP_SECRET=
META_GRAPH_API_VERSION=
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_WEBHOOK_URL=
CHECKOUT_LINK_SECRET=
PANEL_ADMIN_TOKEN=
GROQ_API_KEY=
GEOCODING_CONTACT_EMAIL=
